<div class="contacts">
    {{#each contacts}}
        {{>contact}}
    {{/each}}
    <br>
    <button onclick="add()">Добавить</button>
</div>
<script>
    const add = () => window.location.href = 'add';
</script>
